@import 'tailwindcss';

@theme {
    --font-sans: "genshin", sans-seriff;
    --color-genshin-blue: #3F4555;
    --color-genshin-blue-darker: #353A49;
    --color-genshin-gold: #CFBD93;
    --color-genshin-white: #EBE5D9;
    --color-anemo: #416265;
    --color-cryo: #4D6A78;
    --color-dendro: #4F604E;
    --color-electro: #5C5178;
    --color-geo: #665A4E;
    --color-hydro: #3D5E78;
    --color-pyro: #664C52;
}

@layer components {
    .fade {
        @apply transition duration-150 ease-in-out;
    }
    /* Element background colours */
    .gradient {
        @apply bg-linear-to-b from-5% to-40%
    }
    .anemo-bg {
        @apply from-[#314845] to-anemo
    }
    .cryo-bg {
        @apply from-[#364B56] to-cryo
    }
    .dendro-bg {
        @apply from-[#36443B] to-dendro
    }
    .electro-bg {
        @apply from-[#3F3A61] to-electro
    }
    .geo-bg {
        @apply from-[#524038] to-geo
    }
    .hydro-bg {
        @apply from-[#2F445A] to-hydro
    }
    .pyro-bg {
        @apply from-[#553944] to-pyro
    }
    /* Rarity background colours */
    .rarity-0 {
        @apply bg-gray-400/30;
    }
    .rarity-1 {
        @apply bg-green-400/30;
    }
    .rarity-2 {
        @apply bg-blue-400/30;
    }
    .rarity-3 {
        @apply bg-purple-400/30;
    }
    .rarity-4 {
        @apply bg-orange-400/30;
    }
}

@font-face {
	font-family: genshin;
	src: url(./lib/assets/fonts/genshin-text.ttf);
}

/* Applies fade out effect to view */
.fadeout {
	-webkit-mask-image:
        linear-gradient(to right, transparent, black 15%, black 85%, transparent),
		linear-gradient(to bottom, black 75%, transparent 100%);
	mask-image:
        linear-gradient(to right, transparent, black 15%, black 85%, transparent),
        linear-gradient(to bottom, black 75%, transparent 100%);
	-webkit-mask-composite: intersect;
	mask-composite: intersect;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}