@import 'tailwindcss';

@theme {
    --font-sans: "genshin", sans-seriff;
    --color-genshin-blue: #3F4555;
    --color-genshin-blue-darker: #353A49;
    --color-genshin-gold: #CFBD93;
    --color-genshin-white: #EBE5D9;
    --color-anemo: #32D7A0;
    --color-cryo: #80FFFF;
    --color-dendro: #90CC00;
    --color-electro: #CC80FF;
    --color-geo: #FFAC00;
    --color-hydro: #00C0FF;
    --color-pyro: #FF6640;
}

@layer components {
    .fade {
        @apply transition duration-150 ease-in-out;
    }
}

@font-face {
	font-family: genshin;
	src: url(./lib/assets/fonts/genshin-text.ttf);
}

/* Applies fade out effect to view */
.fadeout {
	-webkit-mask-image:
        linear-gradient(to right, transparent, black 15%, black 85%, transparent),
		linear-gradient(to bottom, black 75%, transparent 100%);
	mask-image:
        linear-gradient(to right, transparent, black 15%, black 85%, transparent),
        linear-gradient(to bottom, black 75%, transparent 100%);
	-webkit-mask-composite: intersect;
	mask-composite: intersect;
}
