@import 'tailwindcss';

@theme {
    --font-sans: "genshin", sans-seriff;
    --minWidth-card: 450px;
    --color-genshin-blue: #3F4555;
    --color-genshin-blue-darker: #353A49;
    --color-genshin-gold: #CFBD93;
    --color-genshin-white: #EBE5D9;
    --color-anemo: #32D7A0;
    --color-cryo: #80FFFF;
    --color-dendro: #90CC00;
    --color-electro: #CC80FF;
    --color-geo: #FFAC00;
    --color-hydro: #00C0FF;
    --color-pyro: #FF6640;
}

@layer components {
    .number-textfield {
        @apply w-15 rounded px-2 py-1 text-center;
    }
}

@font-face {
    font-family: genshin;
    src: url(/src/lib/assets/fonts/genshin-text.ttf);
}

/* Hide increments from number textfields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide scrollbar from overflows */
.hidescrollbar::-webkit-scrollbar {
    display: none;
}

.hidescrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Applies fade out effect to view for each edge */
.fadeout-right {
    -webkit-mask-image: linear-gradient(to right, black 75%, transparent 100%);
    mask-image: linear-gradient(to right, black 75%, transparent 100%);
}

.fadeout-all {
	-webkit-mask-image:
		linear-gradient(to right, transparent, black 15%, black 85%, transparent),
		linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
	mask-image:
		linear-gradient(to right, transparent, black 15%, black 85%, transparent),
		linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
	-webkit-mask-composite: intersect;
	mask-composite: intersect;
}
